<div class="container">
  <form [formGroup]="addForm">
    <mat-form-field appearance="standard">
      <mat-label>Id</mat-label>
      <input
        matInput
        placeholder="Id do produto"
        required
        formControlName="id"
      />
      <mat-error *ngIf="addForm.controls.id.hasError('required')">
        Campo obrigatório.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        placeholder="Quantidade"
        required
        type="number"
        min="0"
        formControlName="quantity"
      />
      <mat-error *ngIf="addForm.controls.quantity.hasError('required')">
        Campo obrigatório.
      </mat-error>
      <mat-error *ngIf="addForm.controls.quantity.hasError('min')">
        Quantidade não pode ser menor que 1.
      </mat-error>
      <mat-error *ngIf="addForm.controls.quantity.hasError('pattern')">
        Campo aceita apenas números.
      </mat-error>
    </mat-form-field>
    <button
      (click)="addProduct()"
      [disabled]="!addForm.valid"
      mat-raised-button
      color="primary"
    >
      Adicionar
    </button>
  </form>

  <mat-list role="list">
    <mat-list-item *ngFor="let product of products">
      <p>{{ product.id }}</p>
      <p>{{ product.name }}</p>
      <p>{{ product.price }}</p>
      <p>{{ product.quantity }}</p>
      <p>{{ product.quantity * product.price }}</p>
    </mat-list-item>
  </mat-list>

  <div>Total {{ total | currency: 'BRL' }}</div>
</div>
