<div class="container">
  <div class="product-container">
    <form [formGroup]="addForm" (ngSubmit)="addProduct()">
      <mat-form-field appearance="standard">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" required formControlName="id" />
        <mat-error *ngIf="addForm.controls.id.hasError('required')">
          Campo obrigatório.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          placeholder="Quantidade"
          required
          type="number"
          min="0"
          formControlName="quantity"
        />
        <mat-error *ngIf="addForm.controls.quantity.hasError('required')">
          Campo obrigatório.
        </mat-error>
        <mat-error *ngIf="addForm.controls.quantity.hasError('min')">
          Quantidade não pode ser menor que 1.
        </mat-error>
        <mat-error *ngIf="addForm.controls.quantity.hasError('pattern')">
          Campo aceita apenas números.
        </mat-error>
      </mat-form-field>
      <button
        type="reset"
        (click)="addProduct()"
        [disabled]="!addForm.valid"
        mat-raised-button
        color="primary"
      >
        Adicionar
      </button>
    </form>

    <table mat-table [dataSource]="products" class="">
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quant. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.quantity }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.price * element.quantity | currency: 'BRL' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Remover </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="options-container">
            <button mat-icon-button (click)="removeProduct(i)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>

  <div>
    <div class="card-container">
      <div class="card-header">
        Sumário
      </div>
      <div class="card-content" *ngFor="let product of products">
        <p>{{ product.quantity }}x</p>
        <p>{{ product.name }}</p>
      </div>
      <div class="card-footer">
        <div>TOTAL</div>
        <div>{{ total | currency: 'BRL' }}</div>
      </div>
    </div>
  </div>
</div>
