<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/cart" routerLinkActive="is-active" class="nav-link">
        <mat-icon
          class="icon-display"
          aria-hidden="false"
          aria-label="Example home icon"
        >
          shopping_cart
        </mat-icon>
        <span>Carrinho</span>
      </a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="is-active" class="nav-link">
        <mat-icon
          class="icon-display"
          aria-hidden="false"
          aria-label="Example home icon"
        >
          add_box
        </mat-icon>
        <span>Cadastro</span>
      </a>
    </li>
  </ul>
</nav>
