<nav class="navbar">
  <ul>
    <li>
      <a routerLink="/home" class="nav-link">
        <mat-icon
          class="icon-display"
          aria-hidden="false"
          aria-label="Example home icon"
        >
          home
        </mat-icon>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="/products" class="nav-link">
        <mat-icon
          class="icon-display"
          color="warn"
          aria-hidden="false"
          aria-label="Example home icon"
        >
          store
        </mat-icon>
        <span>Produtos</span>
      </a>
    </li>
  </ul>
</nav>
